* {
    margin: 0;
    padding: 0;
}

.header-bg {
    width: 100%;
    height: 466px;
    display: flex;
    flex-shrink: 0;
    background: url(/image/openex-metal-fabrication.jpg);
    background-size: cover;
}

/*.header-bg .loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    animation-timing-function: ease-in-out;
    animation-name: loading;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
    animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-name: loading;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
}

@keyframes loading {
    0% {
        background:#000;
    }

    100% {
        background:transparent;
    }
}

@-webkit-keyframes loading {
    0% {
        background:#000;
    }

    100% {
        background:transparent;
    }
}*/

.header-bg .bg-overlay {
    width: 100%;
    height: 100%;
    background: url(/image/pattern.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-bg .bg-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*margin: 0 auto;*/
}

.header-bg .bg-content span {
    display: flex;
    height: 152px;
    font-size: 36px;
    line-height: 48px;
    color: #12183A;
    align-items: center;
}

/*.header-bg .bg-content span img {
    width: 56px;
    height: 56px;
}*/

.header-bg .bg-content h1 {
    display: flex;
    /*margin-top: 4px;*/
    overflow: hidden;
    margin: 46px 20px auto;
    font-size: 1.8em/*16px*/;
    font-weight: 950;
    line-height: 1.5/*22px*/;
    letter-spacing: -.006em/*2px*/;
    text-transform: uppercase;
    text-align: left;
    text-shadow: 0.02em 0.02em 0.10em rgb(0, 0, 0);
    /*background: rgb(215, 215, 215, 0.75);*/
    /*background-clip: text;*/
    color: rgb(255, 255, 255);
}

.main {
    display: flex;
    flex-grow: 1;
    flex-basis: auto;
    flex-direction: column;
    margin-top: 0px;
}

.main .feed {
    display: flex;
    max-width: 100%;
    padding: 0 calc((100% - 1200px)/2) 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.move {
    margin-top: -84px;
    transition: margin-top .8s ease-in-out;
    -moz-transition: margin-top .8s ease-in-out;
    -webkit-transition: margin-top .8s ease-in-out;
    -o-transition: margin-top .8s ease-in-out;
}

@media screen and (min-width:600px) {
    .main .feed .feed-display {
        display: flex;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 360px;
        position: relative;
        margin: 20px;
        /*background-color: #FFF;*/
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 10px 40px 10px rgba(50, 50, 50, 0.08);
        flex-direction: column;
        position: relative;
        top: 0px;
        transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
    }
}

@media screen and (max-width:600px) {
    .main .feed .feed-display {
        display: flex;
        flex-grow: 0;
        flex-shrink: 1;
        position: relative;
        /*min-height: 320px;*/
        margin: 20px;
        /*background-color: #FFF;*/
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 10px 40px 0 rgba(50, 50, 50, .1);
        flex-direction: column;
        position: relative;
        top: 0px;
        transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
    }
}

.main .feed .feed-display:hover {
    cursor: pointer;
    top: -15px;
}
.main .feed .feed-display .feed-overlay {
    width: 100%;
    height: 200px;
    background: rgb(0, 0, 0, 0.16);
    position: absolute;
    -o-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.main .feed .feed-display .feed-overlay:hover {
    background: rgb(0, 0, 0, 0.6);
}

.main .feed .feed-display a {
    text-decoration: none;
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    flex-shrink: 1;
}

.main .feed .feed-display a .feed-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /*color: #FFF;*/
    opacity: 1;
    font-size: 1em;
    line-height: 1.5;
    text-shadow: 0.02em 0.02em 0.10em rgb(0, 0, 0);
    /*background: rgb(215, 215, 215, 0.75);*/
    /*background-clip: text;*/
    color: rgb(255, 255, 255);
    -o-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.main .feed .feed-display a .feed-excerpt {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: transparent;
    opacity: 0;
    font-size: 0.8em;
    line-height: 1.5;
    -o-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.main .feed .feed-display a:hover .feed-excerpt {
    text-shadow: 0.02em 0.02em 0.10em rgb(0, 0, 0);
    /*background: rgb(215, 215, 215, 0.75);*/
    /*background-clip: text;*/
    color: rgb(255, 255, 255);
    opacity: 1;
}

.main .feed .feed-display a:hover .feed-title {
    color: transparent;
    opacity: 0;
}

.main .feed .feed-display a img {
    width: 100%;
    height: 200px;
    /*margin-bottom: 30px;*/
    /*background: linear-gradient(to top, #f1f5fb, #f9fcff);*/
    object-fit: cover;
}

.feed-meat {
    display: flex;
    padding: 13px 16px 13px 16px;
    justify-content: space-between;
}

.feed-meat .meat-info {
    display: flex;
    flex-direction: column;
}

.feed-meat .meat-info .info-auth {
    display: flex;
    z-index: 3;
    align-content: flex-start;
    align-items: center;
}

.feed-meat .meat-info .info-auth a {
    left: -8px;
    padding: 0px 8px;
    font-size: 14px;
    line-height: 20px;
    color: #898FA0;
    background: transparent;
    border-radius: 12px;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    min-height: 40px;
}

.feed-meat .meat-info .info-data {
    margin: 8px 0 0 8px;
    font-size: 12px;
    line-height: 18px;
    color: #898fa0bb;
}

.feed-meat .meat-type {
    width: 32px;
    height: 32px;
    margin-top: 10px;
    background: none;
}

.change-page {
    height: 40px;
    display: flex;
    padding: 0 calc((100% - 1160px)/2);
    margin-bottom: 2em;
    color: #12183ab7;
}

.change-page .p-page {
    display: flex;
    flex-basis: 0;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}

.change-page .p-page a {
    color: #12183ab7;
    text-decoration: none;
}

.change-page .p-page a .previous {
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    color: #898FA0;
    margin-left: 18px;
    box-shadow: 0 10px 40px 0 rgba(50, 50, 50, 0.1);
    transition: ease-in-out;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
}

@media screen and (min-width:1280px) {
    .change-page .p-page a .previous {
    margin-left: 0px;    
    }
}

@media screen and (max-width:1280px) {
    .change-page .p-page a .previous {
    margin-left: 18px;    
    }
}

.change-page .n-page {
    display: flex;
    flex-basis: 0;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}

.change-page .n-page a {
    color: #12183ab7;
    opacity: .7;
    text-decoration: none;
}

.change-page .n-page a .next {
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    margin-right: 18px;
    /*color: #898FA0;*/
    box-shadow: 0 10px 40px 0 rgba(50, 50, 50, 0.1);
    transition: ease-in-out;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
}

@media screen and (min-width:1280px) {
    .change-page .n-page a .next {
    margin-right: 0px;    
    }
}

@media screen and (max-width:1280px) {
    .change-page .n-page a .next {
    margin-right: 18px;    
    }
}

.change-page .n-page a .next:hover {
    margin-top: -15px;
    cursor: pointer;
    box-shadow: 0 20px 40px 0 rgba(50, 50, 50, 0.1);
}

.change-page .p-page a .previous:hover {
    margin-top: -15px;
    cursor: pointer;
    box-shadow: 0 20px 40px 0 rgba(50, 50, 50, 0.1);
}