* {
    margin: 0;
    padding: 0;
}

.col a {
    text-decoration: none;
}

@media screen and (min-width: 1280px) {
    .pst-exp {
        display: block;
        position: absolute;
        top: 25%;
        left: 10%;
        right: 10%;
        bottom: 25%;
        transform: translateX(-25%);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;
        color: transparent;
        opacity: 0;
        transition: all .5s cubic-bezier(0.23, 1, 0.320, 1);
            -moz-transition: all .5s cubic-bezier(0.23, 1, 0.320, 1);
            -webkit-transition: all .5s cubic-bezier(0.23, 1, 0.320, 1);
            -o-transition: all .5s cubic-bezier(0.23, 1, 0.320, 1);
    }
    
    .card:hover .pst-exp {
        transform: translateX(0%);
        color: #fff;
        opacity: 1;
    }
}

@media screen and (max-width: 1280px) {
    .pst-exp {
        display: block;
        position: absolute;
        top: 25%;
        left: 10%;
        right: 10%;
        bottom: 25%;
        transform: translateY(-50%);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;
        color: transparent;
        opacity: 0;
        transition: all .5s cubic-bezier(0.23, 1, 0.320, 1);
            -moz-transition: all .5s cubic-bezier(0.23, 1, 0.320, 1);
            -webkit-transition: all .5s cubic-bezier(0.23, 1, 0.320, 1);
            -o-transition: all .5s cubic-bezier(0.23, 1, 0.320, 1);
    }
    
    .card:hover .pst-exp {
        transform: translateY(0%);
        color: #fff;
        opacity: 1;
    }
}


/*.text-white {
    transition: all .5s cubic-bezier(0.23, 1, 0.320, 1);
        -moz-transition: all .5s cubic-bezier(0.23, 1, 0.320, 1);
        -webkit-transition: all .5s cubic-bezier(0.23, 1, 0.320, 1);
        -o-transition: all .5s cubic-bezier(0.23, 1, 0.320, 1);
}*/

.card {
    border-radius: calc(0.25rem - 1px);
    border: none;
    transition: all .5s cubic-bezier(0.23, 1, 0.320, 1);
    -moz-transition: all .5s cubic-bezier(0.23, 1, 0.320, 1);
    -webkit-transition: all .5s cubic-bezier(0.23, 1, 0.320, 1);
    -o-transition: all .5s cubic-bezier(0.23, 1, 0.320, 1);
}

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.card:hover {
    transform: translate3d(0px,-5px,-5px);
}

.openex-cases .card:hover {
    transform: translate3d(0px,0px,0px) !important;
}

.card:hover .ul-layer {
    opacity: 0;
    color: transparent;
}

.card:hover .ul-overlay {
    background: rgb(0, 0, 0, 0.8);
}

.card:hover ul {
    color: #fff;
    opacity: 1;
}

.card-cover:hover {
    background-position: initial;
}

.card h2 {
    min-height: 60px;
    color: #fff;
    opacity: 1;
    transition: all .5s cubic-bezier(0.23, 1, 0.320, 1);
        -moz-transition: all .5s cubic-bezier(0.23, 1, 0.320, 1);
        -webkit-transition: all .5s cubic-bezier(0.23, 1, 0.320, 1);
        -o-transition: all .5s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover h2 {
    color: transparent;
    opacity: 0;
} 

.card ul {
    color: #fff;
    opacity: 0;
    padding-bottom: 1rem !important;
}

.card .fw-bold {
    font-weight: 500 !important;
    font-size: 1.2rem;
    text-shadow: 0.02em 0.02em 0.1em rgb(0 0 0);
}

.card .lh-1 {
    line-height: 1.5 !important;
}

.ul-overlay {
    width: 100%;
    height: 100% !important;
    background: rgb(0, 0, 0, 0.25);
    transition: all .6s cubic-bezier(0.23, 1, 0.320, 1);
        -moz-transition: all .6s cubic-bezier(0.23, 1, 0.320, 1);
        -webkit-transition: all .6s cubic-bezier(0.23, 1, 0.320, 1);
        -o-transition: all .6s cubic-bezier(0.23, 1, 0.320, 1);
}

.ul-overlay ul {
    margin-bottom: 0rem !important;
}

.ul-layer {
    position: absolute;
    opacity: 0.85 !important;
    color: #fff;
    bottom: 2rem;
    margin-left: 3rem;
    transition: all .3s cubic-bezier(.25,.1,.25,1);
        -moz-transition: all .3s cubic-bezier(.25,.1,.25,1);
        -webkit-transition: all .3s cubic-bezier(.25,.1,.25,1);
        -o-transition: all .3s cubic-bezier(.25,.1,.25,1);
}

.me-auto svg {
    filter: drop-shadow(0.02em 0.02em 0.1em rgb(0 0 0 / 0.3));
}

hr {	
    width: 80%;
    margin: 0 auto;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.bg-img {
    z-index: -1;
}

.bg-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(/image/pattern.png);
    background-repeat: repeat;
    z-index: 0;
}

.carousel {
    margin-bottom: 2rem;
}

.carousel .container {
    padding-left: 0rem !important;
}

@media screen and (min-width: 1200px) {
    .carousel .text-start {
        margin-left: 5px !important;
    }

    .carousel .text-end {
        margin-right: 5px !important;
    }
}

.carousel-item {
    height: 100vh;
    /*backface-visibility:visible;*/
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
}

.carousel-caption h1 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 0.3rem;
    text-shadow: 0.02em 0.02em 0.1em rgb(0 0 0);
}

.carousel-caption h5 {
    font-weight: 400;
    font-size: 1.5rem;
    text-shadow: 0.02em 0.02em 0.1em rgb(0 0 0);
}

.carousel-caption p {
    margin-bottom: 0rem;
}

.btn-lg, .btn-group-lg > .btn {
    font-size: 1.2rem;
}

.btn-height {
    padding-top: 1.2rem;
}

@media (max-width: 768px) {
    .carousel-item {
    height: 466px;
    }

    .carousel-caption {
        top: calc(45% - 100px) !important;
    }

    .carousel-caption h1 {
        font-size: 2.4rem !important;
    }

    .carousel-caption h5 {
        font-size: 1.2rem !important;
    }

    .btn-lg, .btn-group-lg > .btn {
        font-size: 1rem !important;
    }
}

.carousel-caption {
    top: calc(55% - 100px);
    z-index: 1;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 12px;
    height: 12px;
    margin-right: 6px;
    margin-left: 6px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-radius: 100%;
}

.carousel-control-prev,
.carousel-control-next {
    top: calc(100px);
}

.carousel .mb-4 {
    margin-bottom: 2rem !important;
}

.carousel .mt-5 {
    margin-top: 0rem !important;
}

.main .g-4, .gy-4 {
    --bs-gutter-y: 2.5rem;
}

.main .g-4, .gx-4 {
    --bs-gutter-x: 2.5rem;
}

.main .row {
    justify-content: center;
}

.main .col .bg-dark {
    background-color: transparent !important;
}

.change-page {
    height: 20px;
    display: flex;
    padding: 0 calc((100% - 128px)/2);
    margin-bottom: 4rem;
    margin-top: -1rem;
    color: #12183ab7;
    z-index: 100;
}

.change-page .p-page {
    display: flex;
    flex-basis: 0;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}

.change-page .p-page a {
    /*color: #12183ab7;*/
    opacity: 0.7;
    text-decoration: none;
}

.change-page .p-page a .previous {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    margin-left: 18px;
    box-shadow: 0 10px 40px 0 rgba(50, 50, 50, 0.15);
    transition: ease-in-out;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
}

@media screen and (min-width:1200px) {
    .change-page .p-page a .previous {
    margin-left: 0px;    
    }
}

@media screen and (max-width:1200px) {
    .change-page .p-page a .previous {
    margin-left: 18px;    
    }
}

.change-page .n-page {
    display: flex;
    flex-basis: 0;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}

.change-page .n-page a {
    /*color: #12183ab7;*/
    opacity: 0.7;
    text-decoration: none;
}

.change-page .n-page a .next {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    margin-right: 18px;
    box-shadow: 0 10px 40px 0 rgba(50, 50, 50, 0.15);
    transition: all .3s cubic-bezier(0.23, 1, 0.320, 1);
    -moz-transition: all .3s cubic-bezier(0.23, 1, 0.320, 1);
    -webkit-transition: all .3s cubic-bezier(0.23, 1, 0.320, 1);
    -o-transition: all .3s cubic-bezier(0.23, 1, 0.320, 1);
}

@media screen and (min-width:1200px) {
    .change-page .n-page a .next {
    margin-right: 0px;    
    }
}

@media screen and (max-width:1200px) {
    .change-page .n-page a .next {
    margin-right: 18px;    
    }
}

.change-page .n-page a .next:hover {
    margin-right: -10px;
    cursor: pointer;
    box-shadow: 0 20px 40px 0 rgba(50, 50, 50, 0.2);
}

.change-page .p-page a .previous:hover {
    margin-left: -10px;
    cursor: pointer;
    box-shadow: 0 20px 40px 0 rgba(50, 50, 50, 0.2);
}

.openex-cases .pt-5 {
    padding-top: 0rem !important;
    margin-top: 2rem !important;
}

.openex-cases .pt-lg-4 {
    padding-top: 2rem !important
}

.openex-cases .py-5 {
    padding-top: 0rem !important;
    padding-bottom: 2rem !important;
}

.openex-cases .shadow-lg {
    box-shadow: 0 10px 40px 0 rgba(50, 50, 50, 0.15) !important;
}

.openex-cases .mb-5 {
    margin-bottom: 2rem !important;
}

.openex-cases .case-title {
    font-weight: 800 !important;
}

.openex-experience {
    margin-bottom: 2rem !important;
}

.openex-experience .fs-5{
    font-weight: 400 !important;
}

.openex-experience .fw-bold {
    font-weight: 800 !important;
}

.openex-experience .btn-outline-info {
    color: #fff;
    border-color: #0d6efd;
    background-color: #0d6efd;
}

.openex-experience .btn-outline-info:hover {
    color: #fff;
    border-color: #0b5ed7;
    background-color: #0a58ca;
}

.openex-experience .bg-dark {
    background: linear-gradient(0deg, rgba(33,37,41,0.8), rgba(33,37,41,0.8)), url(/image/openex-metal.jpg) fixed !important;
    background-size: cover !important;
}

.openex-experience .text-secondary {
    color: rgb(248,249,250,0.75) !important;
}

.openex-experience .py-5 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.service-list {
    margin-bottom: 2rem;
}

.service-list .py-5 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.service-list .pt-lg-4 {
    padding-top: 1rem !important
}

.service-list .mb-5 {
    margin-bottom: 0rem !important;
}

.service-list .one-title {
    font-weight: 800 !important;
}

.service-list .lead {
    font-weight: 400 !important;
}

.main-products .first {
    margin-bottom: 2rem !important;
}

.main-products .second {
    margin-bottom: 2rem !important;
}

.main-products .product {
    margin-bottom: 1.2rem !important;
}

.main-products .col-12{
    transition: all 500ms cubic-bezier(0.23, 1, 0.320, 1);
}

.main-products .col-12:hover{
    transform: translate3d(0px,-5px,-5px);
}

.product img {
    border-radius: calc(0.25rem - 1px);
    box-shadow: 0 10px 40px 0 rgb(50 50 50 / 15%) !important;
    transition: transform .5s cubic-bezier(0.23, 1, 0.320, 1);
    -moz-transition: all .5s cubic-bezier(0.23, 1, 0.320, 1);
    -webkit-transition: all .5s cubic-bezier(0.23, 1, 0.320, 1);
    -o-transition: all .5s cubic-bezier(0.23, 1, 0.320, 1);
}

.product img:hover{
    transform: translate3d(0px,-5px,-5px);
}

.product .mb-5 {
    margin-bottom: 0rem !important;
}

.questions {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.questions .h5 {
    padding-top: 0.2rem;
    font-size: 1.2rem !important;
    line-height: 1.5rem !important;
}

.questions .d-flex {
    transition: transform .5s cubic-bezier(0.23, 1, 0.320, 1);
    -moz-transition: all .5s cubic-bezier(0.23, 1, 0.320, 1);
    -webkit-transition: all .5s cubic-bezier(0.23, 1, 0.320, 1);
    -o-transition: all .5s cubic-bezier(0.23, 1, 0.320, 1);
}

.questions .d-flex:hover {
    transform: translate3d(0px,-5px,-5px);
}

.partners {
    margin-top: 0rem !important;
}

.partners h3 {
    font-weight: 800 !important;
}

.partners .logo {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

.partners .logo img {
    width: 220px;
    transition: transform .5s cubic-bezier(0.23, 1, 0.320, 1);
    -moz-transition: all .5s cubic-bezier(0.23, 1, 0.320, 1);
    -webkit-transition: all .5s cubic-bezier(0.23, 1, 0.320, 1);
    -o-transition: all .5s cubic-bezier(0.23, 1, 0.320, 1);
}

.partners .logo img:hover {
    transform: translate3d(0px,-5px,-5px);
}

@media (min-width: 1200px){
    .openex-experience .display-5 {
        font-size: 2.4rem;
        text-transform:uppercase
    }
    .openex-experience .fs-5{
        font-size: 1.2rem !important;
    }
    .main-products .title h3 {
        font-size: 1.5rem !important;
    }
    .service-list .display-5 {
        font-size: 2.4rem !important;
    }
    .openex-cases .display-5 {
        font-size: 2.4rem !important;
    }
}